# Task 2

In [32]:
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner

## Extracting Data

In [33]:
url = 'https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=862527922'
raw = pd.read_html(url, attrs={"class": "wikitable"})

## Converting into Required Data Frame

In [34]:
df = pd.DataFrame(raw[0])
header = ['PostalCode', 'Borough', 'Neighborhood']
df = df[1:]
df.columns = header

## Satisfying Condition

In [35]:
#Removing rows with borough values, Not assigned
df.drop(df[df['Borough']== 'Not assigned'].index, axis=0, inplace=True) 

#Replacing Neighbourhood Not assigned to Borough value
value = df.loc[df['Neighborhood']== 'Not assigned',['Borough']]
df.loc[df['Neighborhood']== 'Not assigned',['Neighborhood']] =  np.asarray(value)[0][0]

#Combing rows with same Postcode
dff = pd.DataFrame(df.groupby(by = ['PostalCode','Borough'])['Neighborhood'].apply(lambda x: ','.join(x)))
dff.reset_index(inplace=True)
dff.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [36]:
#Shape
dff.shape

(103, 3)

## Using given file for appending lat-long

In [37]:
Coordinate = pd.read_csv('Geospatial_Coordinates (1).csv')

# Merging both data frame
Data = dff.merge(Coordinate, left_on = 'PostalCode', right_on = 'Postal Code',how = 'inner')
Data.drop('Postal Code', axis = 1, inplace=True )
Data.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476